@font-face {
  font-family: 'GothamPro-Bold';
  src: url("./fonts/GothaProBol.otf") format(otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-Light';
  src: url("./fonts/GothaProLig.otf") format(otf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro-LightItalic';
  src: url("./fonts/GothaProLigIta.otf") format(otf);
  font-weight: normal;
  font-style: normal;
}