/* div {
  border: 1px solid red;
} */

/* adjustment */

li {
  list-style: none;
}

/* adjustment end*/

.text-block {
  font-family: GothamPro-Bold;
  font-size: 14px;
  color: #fff;
}

.title_h2 {
  font-family: GothamPro-Bold;
  font-size: 49px;
  font-weight: bold;
  color: #000;
}

.title_h4 {
  font-family: GothamPro-Bold;
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

.wrapper {
  width: 1100px;
  margin: auto;
}

.container {
  width: 100%;
  height: 77px;
  background-color: #27273e;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.banner__pic{
  width: 100%;
}
/* header */

.header-left {
  margin-left: 19px;
  margin-top: 13px;
}
.header-right {
  margin-right: 21px;
  margin-top: 13px;
}
.logo-pic{
  height: 51px;
  width: 99px;
}
.contacts__phone {
  font-family: "GothamPro-Bold";
  font-size: 21px;
  color: #fff;
}

.contacts__timing {
  font-family: "GothamPro-Bold";
  font-size: 14px;
  color: rgba(236, 30, 121, 0.7);
}

.menu__link {
  display: flex;
  width: 200px;
  margin-bottom: 38px;
}

.menu__icon {
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

/* header end*/

/* page */

.page {
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  width: 400px;
}

.features__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.features__pic {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #27273e;
  background-repeat: no-repeat;
  background-position: center;
}

/* page end*/

/* footer */

.footer-left {
  margin-top: 14px;
  margin-left: 19px;
}

.footer-right {
  margin-top: 14px;
  margin-right: 22px;
}

.footer-center {
  margin-top: 14px;
}

.social {
  height: 51px;
  width: 168px;
}

.social__title {
  height: 14px;
}

.social__list {
  margin-top: 9px;
  padding: 0;
}

.social__item {
  opacity: 0.75;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  
}

.social__link {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

/* footer end*/