/* div {
  border: 1px solid red;
} */

body {
  font-family: Roboto, Helvetica, sans-serif;
  margin: 0;
}

/* containers */

.wrapper {
  width: 1100px;
  margin: auto;
}

.container {
  width: 100%;
  height: 77px;
  background-color: #27273e;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* header */

.header__logo {
  margin-left: 19px;
  margin-top: 13px;
}

.header__contacts {
  margin-right: 21px;
  margin-top: 13px;
}

.contacts__timing {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  color: rgba(236, 30, 121, 0.7);
}

.contacts__phone {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 21px;
  color: #fff;
}

.banner {
  margin-bottom: 57px;
}

/* main */

.page {
  display: flex;
}

.sidebar {
  width: 200px;
}

.main-content {
  width: 900px;
}

.menu {
  margin-bottom: 72px;
  margin-left: 0px;
}

.menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__link {
  display: inline-block;
  width: 200px;
  margin-bottom: 38px;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__link--main {
  color: #000;
}

.menu__link--main::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 17px;
  background: url('../img/main-icon.png');
  background-repeat: no-repeat;
}

.menu__link--feed {
  color: #ec1e79;
}

.menu__link--feed::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 17px;
  background: url('../img/feed-icon.png');
  background-repeat: no-repeat;
}

.menu__link--price {
  color: #ec1e79;
}

.menu__link--price::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 17px;
  background: url('../img/wallet-icon.png');
  background-repeat: no-repeat;
}

.cowork__title {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 49px;
  color: black;
  margin-bottom: 64px;
}

.cowork__features {
  display: flex;
  margin-bottom: 93px;
}

.features {
  width: 220px;
  margin-right: 68px;
}

.features__pic {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: #27273e;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  margin-bottom: 35px;
}

.features__title {
  margin-bottom: 28px;
  text-align: center;
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-size: 12px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.features__text {
  text-align: center;
}

.features__list {
  list-style: none;
}

.features__item {
  margin-bottom: 10px;
  /* font-size:  */
}

.features__item::before {
  display: inline-block;
  content: "\2022";
  font-size: 20px;
  color: #cc3366;
  margin-right: 15px;
  vertical-align: middle;
}

.news__title {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-size: 49px;
  color: black;
  margin-bottom: 64px;
}

.news__block {
  display: flex;
}

.news__img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 62px;
}

.news__desc {
  margin-right: 41px;
}

.news__date {
  margin-bottom: 10px;
}

.news__header {
  margin-bottom: 20px;
}

.news_text {
  line-height: 18px;
}

.pagination {
  text-align: center;
  margin-bottom: 70px;
}

.pagination__label {
  display: inline-block;
  margin-right: 20px;
  font-family: "Roboto";
  color: #000;
  font-weight: 300;
  font-size: 14px;
}

.pagination__list {
  display: inline-block;
  list-style: none;
}

.pagination__item {
  display: inline-block;
  margin-right: 16px;
}

.pagination__link {
  text-decoration: none;
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
  font-size: 14px;
}

/* footer */

.footer__left {
  margin-top: 14px;
  margin-left: 19px;
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}

.loft-link {
  color: #fff;
  font-weight: bold;
}

.footer__center {
  margin-top: 14px;
}

.footer__right {
  margin-top: 14px;
  margin-right: 22px;
}

.social__title {
  font-family: "Roboto";
  font-weight: bold;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}

.social__elem {
  display: inline-block;
  height: 35px;
}

.social__list {
  margin-top: 9px;
  padding: 0;
}

.social__item {
  display: inline-block;
  opacity: 0.75;
  height: 20px;
  width: 20px;
  margin-left: 0;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
}

.social__link {
  vertical-align: middle;
}