@keyframes logo-animation {
  from {
    transform: rotate(-15deg);
  }

  20% {
    transform: rotate(0deg);
  }
  40% {
    transform: rotate(15deg);
  }

  to {
    transform: rotate(0deg);
    }
}