.blockqoute{
  width: 100%;
  min-height: 175px;
  background: #27273e;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-image: url('../../img/pattern.png');
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 57px;
  }
.blockqoute__content{
  width: 611px;
  min-height: 77px;
  color:#fff;
  align-self: center;
  line-height: 30px;
}

.blockqoute__content b {
  color:#ec1e79;
}