.breadcrumbs {
  margin-bottom: 28px;
}

.breadcrumbs__item {
  display: inline-block;
  text-decoration: underline;
}

.breadcrumbs__item:last-child {
  text-decoration: none;
}

.breadcrumbs__item::before {
  content: "/";
}

.breadcrumbs__item:first-child::before {
  display: none;
}

.breadcrumbs__link {
  font-size: 14px;
  font-style: italic;
  color: rgba(236, 30, 121, 0.8);
}

.breadcrumbs__link--active {
  color: #000;
}