.cowork {
  margin-bottom: 93px;
}
.cowork__title {
  margin-bottom: 60px;
}

.features__list {
  display: flex;
}

.features__item {
  text-align: center;
  width: 30.3%;
  margin-right: 68px;
}

.features__pic {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-bottom: 36px;
  overflow: hidden;
  background-color: #27273e;
  display: inline-block;
  position: relative;
}

.features__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.features__title {
  margin-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 11px;
}

.features__text {
  text-align: center;
  line-height: 29.5px;
  margin-bottom: 20px;
}

.details__item {
  margin-bottom: 20px;
  text-align: start;
}

.details__item::before {
  display: inline-block;
  content: "\2022";
  font-size: 20px;
  color: #cc3366;
  margin-right: 30px;
  vertical-align: middle;
}