.footer {
  width: 100%;
  min-height: 77px;
  background-color: #27273e;
  overflow: hidden;
}

.footer__left {
  margin-top: 14px;
  margin-left: 19px;
}

.footer__center {
  margin-top: 14px;
}

.footer__right {
  margin-top: 14px;
  margin-right: 22px;
}
.loft-link{
  font-weight: 700;
  text-decoration: underline;
  color:#fff;
}

.author{
  font-weight: 700;
}