.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1113px;
  height: 742px;
  background-image: url('../../img/intro.png');
  background-color: rgba(236, 30, 121, 0.15);
  background-blend-mode: overlay;
}
.intro__logo{
  /* animation: logo-animation 2s cubic-bezier(0,1.14,1,-0.1); */
  /* animation-timing-function: ease */
  /* opacity:0; */
  /* timing-function delay iteration-count direction fill-mode; */
}
.logo{
  text-align: center;
  margin-bottom: 29px;
}

.intro__entry{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 182px;
  height: 44px;
  overflow: hidden;
  text-transform: uppercase;
  border: 3px solid #ec1e79;
  color: #ec1e79;
  border-radius: 3px;
  font-size: 12px;
  font-weight: 700;
}

.intro__entry:hover{
  background-color: #ec1e79;
  color:#fff;
}