.sidebar {
  width: 17%;
}

.menu {
  margin-bottom: 72px;
  margin-left: 0px;
}
.menu__item{
  margin-bottom: 28px;
}

.menu__link {
  display: inline-block;
  width: 200px;
  text-transform: uppercase;
  color: #ec1e79;
  font-size: 12px;
  font-weight: 700;
}

.menu__link--main::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 17px;
  background: url('../../img/sprites.png') -10px -10px;
}

.menu__link--main:hover::before,
.menu__link--active.menu__link--main::before
{
  background-position: -47px -10px;
}

.menu__link--feed::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 17px;
  background: url('../../img/sprites.png') -162px -10px;
}

.menu__link--feed:hover::before,
.menu__link--active.menu__link--feed::before {
  background-position: -202px -10px;
}

.menu__link--price::before {
  display: inline-block;
  content: "";
  vertical-align: middle;
  width: 21px;
  height: 21px;
  margin-right: 17px;
  background: url('../../img/sprites.png') -84px -10px;
}

.menu__link--price:hover::before,
.menu__link--active.menu__link--price::before {
  background-position: -123px -10px;
}

.menu__link:hover, .menu__link--active
{
  color: #000;
}