.news{
  margin-bottom: 47px;
}
.news__title{
  margin-bottom: 75px;
}

.news__item {
  display: flex;
  padding-bottom: 24px;
  margin-bottom: 31px;
  border-bottom: 1px solid #ccc;
}
.news__item:last-child {
  border: none;
  margin: 0;
  padding: 0;
}

.news__pic {
  flex-shrink: 0;
  overflow: hidden;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  text-align: center;
  margin-right: 20px;
}
.news__pic--gray {
  filter: grayscale(100%);
  background: #f5f5f5;
  }

.news__img {
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.news__desc {
  margin-right: 41px;
}

.news__date {
  margin-bottom: 10px;
  font-size: 14px;
}

.news__header {
  margin-bottom: 20px;
  font-weight: 700;
}

.news__text {
  line-height: 28px;
}