.pagination {
  text-align: center;
  margin-bottom: 55px;
}

.pagination__label {
  display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  color: #000;
}

.pagination__list {
  display: inline-block;
  list-style: none;
}

.pagination__item {
  display: inline-block;
}

.pagination__link {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 3px;
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 14px;
}

.pagination__link-prev,
.pagination__link-next {
  display: inline-block;
  height: 25px;
  width: 25px;
  color: #000;
}

.pagination__link:hover {
  color: #cc3366;
}

.pagination__link-active {
  background-color: #27273e;
  color: #fff;
}

.pagination__link-disabled {
  cursor: default;
  color: #ccc;
}