.partners{
  margin-bottom: 50px;
}
.partners__title {
  margin-bottom: 52px;
}

.partners__list {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  align-self: baseline;
  margin-right: 150px;
  margin-bottom: 52px;
}

.partners__pic {
  filter: grayscale(100%);
}

.partners__pic:hover {
  filter: grayscale(0%);
  cursor: pointer;
}