.price{
  margin-bottom: 73px;
}
.price__title{
  margin-bottom: 43px;
}
.price__list {
  display: flex;
  flex-wrap: wrap;
}
.price__item{
  text-align: center;
  width: 25%;
  flex:1;
  margin-right: 55px;
}
.price__pic{
  position: relative;
  margin-bottom: 26px;
}

.price__overlay{
  position: absolute;
  width: 250px;
  height: 153px;
  background: #27273e;
  opacity: 0.85;
  color:#5dd1f8;
}
.price__overlay:hover{
  background:transparent;
  color: transparent;
}
.text-vip{
  color: #ec1e79;
}
.text-vip:hover{
  color: transparent;
}