.social__elem {
  display: inline-block;
  height: 35px;
}

.social__list {
  margin-top: 9px;
  padding: 0;
}

.social__item {
  display: inline-block;
  opacity: 0.75;
  height: 20px;
  width: 20px;
  line-height: 20px;
  margin-right: 6px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.social__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social__item:hover{
  background-color: #ec1e79;
}
.social__title{
  color:#fff;
  font-weight: 700;
  font-size: 14px;  
}