.text-white{
  font-family: "GothamPro";
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}

.text-pink{
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  color: rgba(236, 30, 121, 0.7);
}

.text-GothamPro {
  font-family: "GothamPro";
  font-weight: 300;
  font-style: normal;
  font-size: 18px;
}
.text14-Roboto {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
}
.text14-GothamPro{
  font-family: "GothamPro";
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}