.title-h2-black {
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-size: 49px;
  color: black;
}

.title-h4-white {
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-size: 21px;
  color: #fff;
}

.title-h6-white {
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  color: #fff;
}

.title__h5-black {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
}

.title-h7-black {
  font-family: "GothamPro";
  font-weight: 700;
  font-style: normal;
  font-size: 11px;
  color: black;
}